<form
[formGroup] ="loginForm"
(ngSubmit)="loginUser(loginForm.value)"
>

<label>UserName*</label>
<input type =”text” name=”Username” formControlName="username"/><br><br>
<label>Password*</label>
<input type =”password” name=”password”  formControlName="password"/><br><br>
<input type ="submit" value="Login" [disabled]="!loginForm.valid"/>
<a [routerLink]="['register']" >Register</a>
</form>
