  <form
  [formGroup] ="registerForm"
  (ngSubmit)="registerUser(registerForm.value)"
  >
  <label>First Name*</label>
  <input type =”text” name=”firstname” formControlName="firstname"/><br><br>
  <label>Last Name</label>
  <input type =”text” name=”lastname” formControlName="lastname"/><br><br>
  <label>Email*</label>
  <input type =”text” name=”email” formControlName="email"/><br><br>
  <label>UserName*</label>
  <input type =”text” name=”Username” formControlName="username"/><br><br>
  <label>Password*</label>
  <input type =”password” name=”password”  formControlName="password"/><br><br>
  <input type ="submit" value="Register" [disabled]="!registerForm.valid"/>
  </form>
